* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  display: flex;
  font-family: "Open Sans", sans-serif;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-page {
  background-size: contain;
  background-repeat: no-repeat;
  background: url(/images/bg-hero-mobile.svg);

  background-color: hsl(193, 100%, 96%);
  margin-bottom: 80px;
}

.head {
  height: 100px;
  display: flex;
  /* margin-bottom: 70px;
  margin-top: 20px; */
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.logo-top {
  width: 104px;
}

.logo-image {
  width: 100%;
  height: 100%;
}

.btn-1 {
  /* padding-left: 140px;
  margin-top: 20px;
  margin-bottom: 20px; */
}

.btn-box-1 {
  background-color: white;
  font-family: "open sans";
  font-weight: 700;
  border-radius: 100px;
  height: 35px;
  width: 120px;
  font-size: 10;
  border: none;
}

.first-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.first-h1 {
  font-family: "poppins";
  color: #00252e;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 30px;
  line-height: 1.4em;
}

.first-paragraph {
  color: #00252e;
  font-family: "open sans";
  font-size: 16px;
  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 30px;
  line-height: 24px;
  font-weight: 400;
  width: 80%;
}

.btn-2 {
  padding-bottom: 50px;
}

.btn-box-2 {
  background-color: #ff52c1;
  font-size: 12px;
  font-weight: 700;
  width: 260px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 100px;
  font-family: "open sans";
}

.illustration-mockup {
  width: 80%;
  height: auto;
}

.second-page {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin: 2px auto;
  background-color: #ffffff;
  border-radius: 17px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-bottom: 50px;
  box-shadow: 0px 5px 10px 0px rgba(216, 226, 238, 0.75);
}

.illistration-grow-together {
  width: 100%;
  height: auto;
  padding: 30px;
}

.first-h2 {
  font-family: "poppings";
  font-size: 28px;
  font-weight: 700px;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 30px;
  line-height: 1.4em;
}

.new-h2 {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  padding-bottom: 20px;
  line-height: 30px;
  color: #00252e;
}

.second-paragraph {
  font-size: 14px;
  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 30px;
  font-family: "open sans";
  line-height: 21px;
  color: hsl(208, 11%, 55%);
}

.Third-page {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin: 2px auto;
  background-color: #ffffff;
  border-radius: 17px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-bottom: 50px;
  box-shadow: 0px 5px 10px 0px rgba(216, 226, 238, 0.75);
}

.illistration-flowing-conversation {
  width: 100%;
  height: auto;
  padding: 30px;
}

.new-h3 {
  font-family: "Poppins";
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 20px;
}

.third-paragraph {
  font-size: 16px;
  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 30px;
  font-family: "open sans";
  line-height: 21px;
  color: hsl(208, 11%, 55%);
}

.fourth-page {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin: 2px auto;

  background-color: #ffffff;
  border-radius: 17px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-bottom: 180px;
  box-shadow: 0px 5px 10px 0px rgba(216, 226, 238, 0.75);
}

.illustration-your-users {
  width: 100%;
  height: auto;
  padding: 30px;
}

.new-h4 {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 20px;
  line-height: 30px;
}

.fourth-paragraph {
  font-size: 16px;
  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 30px;
  font-family: "open sans";
  line-height: 21px;
  color: hsl(208, 11%, 55%);
}

.footer {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  position: relative;
  text-align: left;
  background-color: #00252e;
  color: white;
}

.footer-contact-icons {
  display: flex;
  flex-direction: column;
}

.menu-1,
.menu-2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 50px;
}

.menu-1 {
  padding-bottom: 20px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding-top: 20px;
  margin-bottom: 40px;
}

.logo-bottom {
  padding-top: 100px;
}

.logo-image-2 {
  margin-top: 30px;
  width: 140px;
  height: auto;
}

.icon-location {
  display: flex;
  gap: 1rem;
}

.icon-location-image-wrap {
  width: 24px;
  height: 24px;
  max-width: 40px;
}
.icon-location-image {
  width: 100%;
  height: 100%;
}
.icon-location-text {
  font-size: 14px;
  font-family: "Poppins";
  line-height: 24px;
  width: 80%;
  
}

.icon-number {
  display: flex;
  gap: 1rem;
}

.icon-number-text {
  font-size: 14px;
  font-family: "Poppins";
  line-height: 24px;
}

.icon-email {
  display: flex;
  gap: 1rem;
  
}

.icon-email-text {
  font-size: 14px;
  font-family: "Poppins";
  line-height: 24px;
}

.menu {
  padding-left: 10px;
  margin-top: 40px;
  line-height: 30px;
  padding-bottom: 50px;
}

.social-media-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
  gap: 1.1rem;
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  gap: 1.1rem;
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.call {
  font-family: "Poppins";
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #00252e;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 170px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin: 2px auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0px 5px 10px 0px rgba(216, 226, 238, 0.75);
}

.Call-btn {
  font-family: "open sans";
  font-size: 10px;
  line-height: 15px;
  font-weight: 700;
  border-radius: 100px;
  height: 40px;
  width: 200px;
  background-color: #ff52c1;
  color: white;
  border: none;
  margin-bottom: 20px;
  width: 70%;
}

@media only screen and (min-width: 800px) {
  .main-page {
    background-size: contain;
    background-repeat: no-repeat;
    background: url(/images/bg-hero-desktop.svg);
    background-color: hsl(193, 100%, 96%);
    margin-bottom: 80px;
  }

  .head {
    /* margin-top: 20px;
    margin-bottom: 70px; */
  }

  .logo-top {
    width: 200px;
  }

  .heading {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .first-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }

  .btn-1 {
    /* padding-left: 170px;
    margin-top: 20px; */
  }

  .first-h1 {
    font-size: 40px;
    text-align: left;
    padding: none;
    margin-top: 30px;
  }

  .first-image {
    padding-right: 40px;
    padding-bottom: 200px;
    width: 1500px;
  }

  .illustration-mockup {
    width: 100%;
    height: 100%;
  }

  .logo-image {
    /* width: 230px;
    padding-top: 28px;
    padding-left: 70px; */
  }

  .first-paragraph {
    font-family: "open sans";
    font-size: 16px;
    line-height: 1.6em;
    text-align: left;
  }

  .btn-2 {
    padding-left: 40px;
  }

  .btn-box-2 {
    font-family: "open sans";
    font-weight: 700;
    border-radius: 100px;
    height: 60px;
    width: 250px;
    background-color: #ff52c1;
    color: white;
    border: none;

    margin-bottom: 150px;
  }

  .second-page {
    display: flex;
    flex-direction: row-reverse;
  }

  .heading-2 {
    margin-top: 140px;
  }

  .Third-page {
    display: flex;
    flex-direction: row;
  }

  .heading-3 {
    margin-top: 120px;
  }

  .fourth-page {
    display: flex;
    flex-direction: row-reverse;
  }

  .heading-4 {
    margin-top: 120px;
  }

  .logo-image-2 {
    width: 250px;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-bottom: none;
    margin-bottom: none;
  }

  .icon-location {
    /* display: flex;
    padding-left: 10px;
    padding-top: 10px;
    align-items: center; */
  }

  .icon-location-image {
    /* width: 20px; */
  }

  .icon-location-text {
    /* padding-right: 400px;
    width: 55%; */
    max-width: 339px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    line-height: 30px;
  }

  .footer {
    display: flex;
    padding: 0 5%;
    position: relative;
    text-align: left;
    background-color: #00252e;
    color: white;
  }

  .footer-contact-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .contact-details {
    padding-top: 0px;
  }

  .social-media-copyright {
    align-items: flex-start;
  }

  .call-to-action {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 170px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin: 2px auto;
    border: 1px solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid #ddd;
  }

  .Call-btn {
    font-family: "open sans";
    font-size: 12px;
    font-weight: 700;
    border-radius: 100px;
    height: 40px;
    width: 180px;
    background-color: #ff52c1;
    color: white;
    border: none;
    margin-bottom: 20px;
  }

  .copyright {
    align-self: flex-end;
  }
}
